body {
    font-family: monospace;
    --yellowcolor: #f0db4f;
}

/* header */
header {
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}
#title img {
    height: auto;
    width: 50px;
}
#title {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    padding: 2%;
}

#navbar {
    background-color: var(--yellowcolor);
    color: white;
    font-size: 20px;
}
#navbar ul {
    display: flex;
    justify-content: space-evenly;
    color: black;
    font-weight: 1000;
    padding-bottom: 10px;
    margin-top: 10px;
}
/* header */

/* container */
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
}
/* container */

/* gamestart */
#game {
    display: flex;
    position: relative;
    text-align: center;
    flex-direction: column;
    border: solid;
    background-color: rgb(173, 172, 172);
    height: 600px;
    width: auto;
}
#timer {
    font-size: 20px;
}
#questions {
    border: solid;
    margin-top: 2%;
    height: 50%;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
#answers {
    position: absolute;
    bottom: 20%;
    font-size: 24px;
}
.btn {
    margin: 2%;
    padding: 10px;
    border: solid;
    border-color: black;
    background-color: rgb(120, 120, 120);
    color: white;
}
#controls button {
    position: absolute;
    font-size: 32px;
}
#start {
    left: 10%;
    bottom: 20px;
    padding: 10px;
    background-color: #f0db4f;
    border: solid;
}
#next{
    right: 10%;
    bottom: 20px;
    padding: 10px;
    background-color: #f0db4f;
    border: solid;
}
/* gameend */

/* leaderboard */
#leaderboard {
    background-color: lightyellow;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 50px;
}
#leaderboard h1 {
    font-size: 30px;
    background-color: #f0db4f;
}
#leaderboard h2 {
    font-size: 20px;
    background-color: #f0db4f;
}
#leaderboard ul {
    font-size: 30px;
    background-color: black;
    color: white;
}
#leaderboard li {
    padding: 5%;
}
/* leaderboard */

/* coming soon */
#comingsoon {
    background-color: gray;
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    font-size: 30px;
}
#comingsoon h1 {
    background-color: #f0db4f;
}
#comingsoon h2 {
    background-color: black;
    color: white;
}
/* coming soon */

/* footer */
footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 34px;
}
#footertitle {
    padding-bottom: 50px;
}
footer img {
    height: auto;
    width: 50px;
}
footer p {
    font-size: 16px;
}
/* footer */